app/xsd/restrictions.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="restrictions">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="restriction"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="restriction">
    <xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id" type="xs:decimal" use="required"/>
			</xs:extension>
		</xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
