app/xsd/sporttypes.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sporttypes">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="sporttype"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="sporttype">
    <xs:complexType>
      <xs:all>
        <xs:element name="title" type="xs:string"/>
      </xs:all>
      <xs:attribute name="id" type="xs:decimal" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
